@charset "UTF-8";

body {
    height: 98.3vh;
    background: black url(/exercicios/ex010/midia/wallpaper002.jpg) center center/cover no-repeat fixed; 
    background-size: cover;

    /* Short hand - background 
    color > image > position > repeat > [size] > attachment 
     */
}
main {
    
    background-color: rgb(68, 68, 68);
    width: 60%;
    padding: 15px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    margin: auto;
    box-shadow: 5px 5px 8px black;
    

}

h1 {
    color: aliceblue;
}

p {
    color: aliceblue;
    text-align: justify;
    text-shadow: 10px 10px 12px black;
}