* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Estilo Tela */
    
body {
    background-color: rgb(219, 218, 218);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
header {
    background-color: rgb(95, 98, 100);
}
header h1 {
    text-align: center;
    color: white;
    padding: 10px;
    text-transform: uppercase;
}
nav ul {
    text-align: center;
    
}
nav li{
    color: white;
    text-shadow: 1px 2px 3px rgb(0, 0, 0);
    text-decoration: none;
    list-style: none;
    padding: 10px;
    display: inline-block;
    margin-left: 4px;
    
    
    
}
nav {
    display: none;
}
nav a {
    text-decoration: none;
    
}
i#burguer {
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
}

i#burguer:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}


nav a:hover {
   
    border-radius: 7px;
    background-color: white;
    background-position: center;
    

    
}

nav li:hover {
    color: black;
    text-shadow: none;
}

main h2 {
    color: rgb(71, 73, 175);
    text-shadow: 1px 1px 2px black;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}

main p {
    border-radius: 10px;
    text-align: center;
    background-color: rgb(253, 253, 253);
    width: 70%;
    margin: auto;
    padding: 10px;
}