@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font1: Georgia, 'Times New Roman', Times, serif;
    --font2: "Passion One", sans-serif;
    --font3: "Sriracha", cursive;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
}

html, body {
    min-height: 100vh;
    background-color: antiquewhite;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 3em;
}

header h4 {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;

}

a:hover, footer a:hover {
    text-decoration: underline;
}
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 2em;
}
section > p {
    padding-bottom: 2em;
   }

section.normal {
    background-color: white;
    color: rgb(0, 0, 0);
}

section.imagem {
    background-color: rgb(253, 251, 248);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.616);
    background-attachment: fixed;
}
section.imagem p {
   display: inline-block;
   background-color: rgba(2, 2, 2, 0.712);
   padding: 15px;
   color: white;
   
}
section#imagem01 {
background-image: url(/exercicios/ex012/midia/imagens/background001.jpg);
background-position: center;
background-size: cover;
}
section#imagem02 {
    background-image: url(/exercicios/ex012/midia/imagens/background002.jpg);
    background-size: cover;
    background-position: center;

}



footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}