@charset "UTF-8";

/* Cores para Usar
Azul: #499CA6
Amarelo: #F2E5A2
Laranja: #F2762E
Vermelho: #D91604
Rosa: #D98282
*/

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
background-color:#F2E5A2;
height: 100vh;
width: 100vw;


}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    background-color: ;
}